
<article>
    <div class="container">
        <form>

            <h1>SpeedDating lycée Aorai</h1>

            <h3>Application permettant 
                <ul>
                    <li>L'impression des listes d'étudiants le jour de l'événement</li>
                    <li>La modification des missions types et dates de stages des classes par les enseignants</li>
                    <li>La modification des profils des étudiants</li>
                </ul>
            </h3>
        </form>

        
    </div>
</article>
