/* Layout */

* {
  box-sizing: border-box; /* pour maîtriser width et flex-basis */
}

html {
  display: flex; flex-direction: column; /* correction bug IE de min-height non appliqué à body */
}

body {
  display: flex; /* crée un contexte flex pour ses enfants */
  flex-direction: column; /* affichage vertical */
  min-height: 100vh; /* toute la hauteur du viewport */
}

h1{
  color: #575757;
}

form{
  background-color: #fff;
  padding: 4em;
  box-shadow: 0 2px 3px rgba(0,0,0,0.3);
  text-align: center;
  position: relative;
  margin-top: 5em;
  border: 1px solid #58b0e0;
}

form h1{
  margin-top: 60px;
}

footer{
  text-align: center;
}

.avatar{
  position: absolute;
  left: 50%;
  top: 0;
  transform: translate(-50%, -50%);
  width: 165px;
  height: 165px;
}

hr{
  margin: 2em;
  background-color: #58b0e0;
}


textarea{
  resize: none;
}

.wrapper {
  flex: 1 1 auto; /* occupe la hauteur restante */
  display: flex; /* crée un contexte flex pour ses enfants */
}
aside {
  width: 10em;
}

article {
  flex: 1; /* occupe la largeur restante */

}


nav {
  order: -1; /* nav s'affiche en premier */
}


/* Responsive (fenêtres de moins de 640px) */

@media (max-width: 640px) {
  .wrapper {
    flex-direction: column; /* affichage vertical */
  }
  nav,
  aside {
    width: auto; /* pour écraser la valeur 10em */
  }
  nav,
  aside,
  article {
    flex-basis: auto; /* pour écraser la valeur 0, due au flex: 1 */
  }
  nav {
    order: 0; /* nav reprend sa place */
  }
}

/* Decoration */

body {
  margin: 0;
  padding: 0;
  background-image: url("../../img/background.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  font-family: arial, sans-serif;
}
header,
nav,
aside,
article,
footer {
  margin: 1em;
  padding: 1em;
  border-radius: 6px;
}
aside {
  background: #ccccff;
}
article {
  /*background: #f8f9fa;*/
}
footer {
  background: #f8f9fa;
}/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 11 sept. 2017, 13:47:27
    Author     : prive
*/

@media print
{
.noprint {display:none;}
}

.modal-full {
    min-width: 100%;
    margin: 0;
}



.print{
  background-color: #fff;
  padding: 2em;
  border-radius: 3px;
  box-shadow: 0 2px 3px rgba(0,0,0,0.3);
  
}

.logo{
  color: #0061FF;
}

label{
  font-size: 15px;
}